{% extends "base.html"%}

{%block content%}

    <div class="boggle container">
        <div class="timer mb-3">
            <p>
                Your time remaining: <span class="timer-display"></span>
            </p>
        </div>
        <div class="score">
            <p>
                Your Score: <span class="score-display"></span>
            </p>
        </div>
        <table class="boggle-board table table-sm">
            <tbody>
                {% for row in board%}
                <tr class="col">
                    {% for char in row%}
                    <td class="col rounded-5 border border border-5 text-white bg-dark text-center --bs-gap: .25rem 1rem">
                        {{char}}
                    </td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <!-- **the page does got go anywhere, I want to stay on this page "actions" will be handled on the backend -->
        <form action="/" class="guess" method="post">
            <div class="mb-3">
                <input name="word" class="word form-control form-control-lg" type="text" placeholder="Submit a word" aria-label=".form-control-lg example">
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
     </div>
     <p class="msg">
        <!-- *for flash messages* -->
     </p>
     <ul class="word-list">
            <!-- *for word list*  -->
     </ul>

     

     
{%endblock%}